.tabs {
  position: relative;
  padding: 4px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f7f9;
  border-radius: 4px;
  --tab-offset: 2px;
}

.tab {
  width: 100%;
  text-align: center;
  z-index: 1;
  cursor: pointer;
}

.tab-slider {
  position: absolute;
  top: 4px;
  left: var(--tab-offset);
  width: calc(calc(100% - 8px) / 3);
  height: calc(100% - 8px);
  background-color: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  transition: all 0.3s;
}
