@keyframes move {
  0% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.inline {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.animate {
  animation: move 8s linear infinite;
  animation-delay: -4s;
}