.my {
  padding: 16px;

  :global {
    .tab-bar {
      display: flex;
      background-color: #f6f7f9;
      padding: 4px;
    }

    .types {
      margin-top: 12px;
      display: flex;
    }

    .type {
      margin-right: 16px;
      cursor: pointer;
    }

    .type-selected {
      font-weight: 600;
      color: var(--primary-color);
    }
  }
}
