.double-input {
  margin-top: 16px;
  :global {
    .name {
      margin-bottom: 8px;
      padding: 0 16px;
      user-select: none;
    }

    .wrapper {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 0 24px;
    }

    .controlled-input {
      outline: 0;
      border: 1px solid #a4a4a4;
      width: 112px;
      height: 32px;
      line-height: 30px;
      padding-left: 16px;
      border-radius: 8px;
    }

    .label-first,
    .label-second {
      position: absolute;
      width: 24px;
      text-align: center;
      top: 6px;
      font-size: 16px;
      line-height: 20px;
      color: #666;
      pointer-events: none;
    }

    .label-first {
      left: 100px;
    }

    .label-second {
      right: 40px;
    }
  }
}
