.textarea {
  margin-top: 16px;
  display: flex;
  flex-direction: column;

  :global {
    .name {
      margin-bottom: 8px;
      padding: 0 16px;
    }

    .input-area {
      margin: 0 16px;
      border: 1px solid #e6e6e6;
      outline: 0;
      min-height: 80px;
      resize: vertical;
    }
  }
}
