.header {
  grid-area: header;
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;

  :global {
    .header-left {
      display: flex;
      align-items: center;
    }

    .title {
      font-size: 18px;
      font-weight: 600;
    }

    .divider {
      margin: 0 16px;
      width: 1px;
      height: 32px;
      background-color: #e6e6e6;
    }

    .icon-wrapper {
      margin-right: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 32px;
      width: 32px;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;

      &:active {
        background-color: #e6e6e6;
      }
    }
  }
}
