.sidebar {
  grid-area: sidebar;
  display: flex;
}

.tabs {
  flex-shrink: 0;
  width: 64px;
  max-height: calc(100vh - 64px);
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  :global {
    .tab {
      position: relative;
      width: 64px;
      height: 64px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      user-select: none;
      cursor: pointer;
    }

    .tab-active {
      color: var(--primary-color);

      .tab-text {
        color: var(--primary-color);
      }
    }

    .tab:hover::after,
    .tab-active::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 16px;
      width: 3px;
      height: 32px;
      background-color: var(--primary-color);
    }

    .tab-icon {
      width: 32px;
      height: 32px;
    }

    .tab-text {
      color: #666;
    }
  }
}

.main {
  flex-grow: 1;
  border-left: 1px solid #e6e6e6;
  max-height: calc(100vh - 64px);
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  :global {
    .divider {
      margin: 16px 0;
      height: 1px;
      background-color: #e6e6e6;
    }
  }
}
