.range {
  margin-top: 16px;
  user-select: none;

  :global {
    .header-wrapper {
      padding: 0 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .range-input {
      outline: 0;
      border: 1px solid transparent;
      width: 48px;
      height: 24px;
      line-height: 22px;
      text-align: center;
      border-radius: 4px;

      &:hover,
      &:focus {
        border-color: #a4a4a4;
      }
    }

    .progress {
      --rail-width: 0%;
      position: relative;
      margin: 16px 16px 0;
      height: 2px;
      background-color: #e6e6e6;
      cursor: pointer;
    }

    .rail {
      position: absolute;
      left: 0;
      top: 0;
      width: var(--rail-width);
      height: 100%;
      background-color: var(--primary-color);
    }

    .handle {
      position: absolute;
      top: -5px;
      right: -6px;
      width: 12px;
      height: 12px;
      border: 1px solid var(--primary-color);
      border-radius: 6px;
      background-color: #fff;
    }
  }
}
