.canvas {
  position: relative;
  width: 1280px;
  height: 720px;

  & > canvas {
    position: absolute;
    left: 120px;
    top: 120px;
    width: 1280px;
    height: 720px;
    outline: 0;
  }

  :global {
    .btns {
      display: flex;
      flex-wrap: wrap;
      margin-left: 80px;
      margin-top: 20px;
      user-select: none;

      button {
        margin-left: 12px;
      }
    }
  }
}